<header class="flex items-center justify-between w-full mt-6 mb-4">
  <div class="flex items-center w-72 h-24 ml-4">
      <h1 class="text-2xl font-semibold">
        {{ title }}
      </h1>
  </div>
  <a href="#" class="flex items-center mr-4">
    <img
        src="/assets/img/default-profile.png"
        alt="Default profile"
        class="w-15 h-15 rounded-full"
    >
</a>
</header>

<div class="flex justify-center items-center w-full -mt-2">
    <div class="relative w-full ml-4 mr-4">
        <img
            src="/assets/svg/search.svg"
            alt="Search btn"
            class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5"
        >
        <input
            class="w-full pl-10 p-4 font-light rounded-lg focus:outline-none bg-midnight placeholder-white"
            type="text"
            [placeholder]="isFocused ? '' : placeholder"
            (focus)="onFocus()"
            (blur)="onBlur()"
        >
    </div>
</div>
