<app-default-login
    [title]="'forgotPassword.title' | translate"
    [primaryBtnText]="'forgotPassword.primaryBtnText' | translate"
    [secondaryBtnText]="'forgotPassword.secondaryBtnText' | translate"
    (submit)="submit()"
    (navigate)="goBack()"
    [primaryBtnDisabled]="!forgotPasswordForm.valid"
>
    <form
        class="flex flex-col w-full gap-6 mb-9"
        [formGroup]="forgotPasswordForm"
    >
        <app-input-form
            formControlName="email"
            inputName="email"
            [placeholder]="'forgotPassword.emailPlaceholder' | translate"
        >
            <img class="w-9 h-8" src="/assets/svg/email-icon.svg" alt="Email" />
        </app-input-form>
    </form>
</app-default-login>
