<app-default-login
    title="Forgot Password"
    primaryBtnText="Send"
    secondaryBtnText="Back to login"
    (submit)="submit()"
    (navigate)="goBack()"
    [primaryBtnDisabled]="!forgotPasswordForm.valid"
>
    <form
        class="flex flex-col w-full gap-6 mb-9"
        [formGroup]="forgotPasswordForm"
    >
        <app-input-form
            formControlName="email"
            inputName="email"
            placeholder="Enter your email"
        >
            <img class="w-9 h-8" src="/assets/svg/email-icon.svg" alt="Email" />
        </app-input-form>
    </form>
</app-default-login>
