<header class="relative flex w-full h-[10vh] justify-center mx-auto px-6">
    <button
        class="absolute left-4 top-1/2 -translate-y-1/2 cursor-pointer rounded-full hover:bg-neutral-800 active:translate-y-0.5 transition-all duration-150"
        (click)="goBack()"
    >
        <img class="w-8 h-8" src="/assets/svg/back-icon.svg" alt="Back" />
    </button>
    <div class="w-full text-center">
        <span>teste</span>
    </div>
</header>
<main class="flex w-full justify-center mx-auto p-6 h-auto">
    <div class="w-full h-[80vh] rounded-2xl border-2 border-graylight"></div>
</main>
