input[type="time"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-calendar-picker-indicator,
    &::-webkit-inner-spin-button,
    &::-webkit-clear-button {
        display: none;
        -webkit-appearance: none;
    }
}

input[type="time"]::-moz-calendar-picker-indicator {
    display: none;
}

input[type="time"]::-webkit-datetime-edit {
    padding: 0;
}
