<div class="flex flex-col m-4">
    <div class="w-full mb-4">
        <h1 class="text-[22px] font-normal">{{ title }}</h1>
    </div>

    <div class="flex flex-col w-full gap-4" [formGroup]="form">
        <input
            formControlName="title"
            type="text"
            class="w-full bg-midnight rounded-lg focus:outline-none border-none p-3 h-[60px] font-medium text-base text-white placeholder:opacity-80 font-['Inter']"
            [placeholder]="placeholderName"
        />

        <textarea
            formControlName="description"
            class="w-full bg-midnight rounded-lg focus:outline-none border-none p-3 h-[120px] resize-none font-medium text-base text-white placeholder:opacity-80 font-['Inter']"
            [placeholder]="placeholderDescription"
        ></textarea>
    </div>
</div>
