<div class=" flex flex-row items-center rounded-lg w-full h-20 bg-midnightlight">
    <div class=" rounded-l-lg w-3 h-full bg-pink-300"></div>

    <div class="flex flex-col justify-center flex-grow ml-4">
        <div class="font- text-base">
            <span>{{ title }}</span>
        </div>
        <div class="flex items-center">
            <img
                class="mr-1.5"
                src="/assets/svg/calendar-icon.svg"
                alt="Calendar"
            >
            <span class="text-sm font-light">
                {{ date }}
            </span>
        </div>
    </div>

    <div class="flex items-center justify-center w-12 h-12 cursor-pointer">
        <img
            src="/assets/svg/check-icon.svg"
            alt="Check"
        >
    </div>
</div>
