<app-default-login
    [title]="'register.title' | translate"
    [primaryBtnText]="'register.primaryBtnText' | translate"
    [secondaryBtnText]="'register.secondaryBtnText' | translate"
    (submit)="submit()"
    (navigate)="navigate()"
    [primaryBtnDisabled]="!registerForm.valid"
>
    <form class="flex flex-col w-full gap-6 mb-9" [formGroup]="registerForm">
        <app-input-form
            formControlName="name"
            inputName="name"
            type="text"
            [placeholder]="'register.namePlaceholder' | translate"
        >
            <img class="w-9 h-8" src="/assets/svg/user-icon.svg" alt="User" />
        </app-input-form>
        <app-input-form
            formControlName="login"
            inputName="login"
            type="login"
            [placeholder]="'register.emailPlaceholder' | translate"
        >
            <img
                class="w-9 h-8"
                src="/assets/svg/email-icon.svg"
                alt="User or email"
            />
        </app-input-form>
        <app-input-form
            formControlName="password"
            inputName="password"
            type="password"
            [placeholder]="'register.passwordPlaceholder' | translate"
        >
            <img
                class="w-9 h-8"
                src="/assets/svg/password-icon.svg"
                alt="Password"
            />
        </app-input-form>
        <app-input-form
            formControlName="confirmPassword"
            inputName="confirmPassword"
            type="password"
            [placeholder]="'register.confirmPasswordPlaceholder' | translate"
        >
            <img
                class="w-9 h-8"
                src="/assets/svg/password-icon.svg"
                alt="Password"
            />
        </app-input-form>
    </form>
</app-default-login>
