<header>
    <app-header></app-header>
</header>
<main>
    <div class="flex justify-between m-4">
        <h1
            class="text-2xl"
        >Progress</h1>
        <button class="text-purple">
            See All
        </button>
    </div>
    <app-daily-task></app-daily-task>

    <div class="flex justify-between m-4">
        <h1
            class="text-2xl"
        >Today's Task</h1>
        <button class="text-purple">
            See All
        </button>
    </div>
    <app-today-task></app-today-task>
</main>
