<app-default-login
    title="Login into your account"
    primaryBtnText="Login now"
    secondaryBtnText="Sign up now"
    (submit)="submit()"
    (navigate)="navigate()"
    [primaryBtnDisabled]="!loginForm.valid"
>
    <form
        class="flex flex-col w-full gap-6 mb-9"
        [formGroup]="loginForm"
    >
        <app-input-form
            formControlName="login"
            inputName="login"
            type="login"
            placeholder="Enter your username or email"
        >
            <img
                class="w-9 h-8"
                src="/assets/svg/user-icon.svg"
                alt="User"
            >
        </app-input-form>
        <app-input-form
            formControlName="password"
            inputName="password"
            type="password"
            placeholder="Enter your password"
        >
            <img
                class="w-9 h-8"
                src="/assets/svg/password-icon.svg"
                alt="Password"
            >
        </app-input-form>
        <span
            class="text-sm underline text-amber-50 text-end cursor-pointer"
            (click)="navigateToForgotPassword()"
        >Forgot password?</span>
    </form>
</app-default-login>
