<app-default-login
    [title]="'login.title' | translate"
    [primaryBtnText]="'login.primaryBtnText' | translate"
    [secondaryBtnText]="'login.secondaryBtnText' | translate"
    (submit)="submit()"
    (navigate)="navigate()"
    [primaryBtnDisabled]="!loginForm.valid"
>
    <form class="flex flex-col w-full gap-6 mb-9" [formGroup]="loginForm">
        <app-input-form
            formControlName="login"
            inputName="login"
            type="login"
            [placeholder]="'login.emailPlaceholder' | translate"
        >
            <img class="w-9 h-8" src="/assets/svg/user-icon.svg" alt="User" />
        </app-input-form>
        <app-input-form
            formControlName="password"
            inputName="password"
            type="password"
            [placeholder]="'login.passwordPlaceholder' | translate"
        >
            <img
                class="w-9 h-8"
                src="/assets/svg/password-icon.svg"
                alt="Password"
            />
        </app-input-form>
        <span
            class="text-sm underline text-amber-50 text-end cursor-pointer"
            (click)="navigateToForgotPassword()"
            >{{ "login.forgot" | translate }}</span
        >
    </form>
</app-default-login>
