@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-purple: #ba83de;
    --color-black: #020206;
    --color-midnight: #181818;
    --color-midnightlight: #1f1f1f;
    --color-gray: #1e1e1e;
    --color-graylight: #4f4f4f;
    --color-beige: #facbba;
    --color-ocean: #d7f0ff;
    --color-pinklight: #fad9ff;
    --color-pink: #de83b0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #020206;
    color: #ffffff;
    height: auto;
}
